*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    caret-color: transparent;
}
.header{
    width: 100%;
    height: 70px;
    background-color: rgb(25, 117, 49);
    padding: 0 100px;
}
.logo img{
    width: 90px;
}
.main{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}
.main_header{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.main_header_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}
.main_header_item_number{
    width: 35px;
    text-align: center;
    background-color: rgb(25, 117, 49);
    font-weight: 600;
    padding: 5px 0;
    border-radius: 50%;
    color: #fff;
}
.main_header_line{
    width: 200px;
    height: 2px;
    background-color: #c5a46d;
}
#done{
    opacity: 0.5;
}
.ifm{
    width: 80vw;
    display: flex;
}
.ifm_daycheck{
    margin-top: 20px;
    width: 45vw;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 240px;
    background-color: white;
    display: flex;
    font-weight: 600;
}
.ifm_client{
    margin-top: 20px;
    width: 20vw;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 500px;
    background-color: white;
    display: flex;
    font-weight: 600;
    margin-left: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
   
}
.ifm_roompick{
    margin-top: 20px;
    width: 45vw;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 215px;
    background-color: white;
    display: flex;
    font-weight: 600;
}
.ifm_daycheck_left{
    padding: 15px;
}
.ifm_daycheck_left_header{
    display: flex;
    font-size: 20px;
    letter-spacing: 1px;
}
.ifm_daycheck_left_header i,.ifm_location i{
    opacity: 0.5;
    font-size: 14px;
    margin-right: 20px;
    color:rgb(25, 117, 49) ;
}
.ifm_star{
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    gap: 20px;
    color: #c5a46d;
    font-size: 18px;
}
.ifm_location{
    margin-top: 20px;
    font-size: 16px;
    font-weight: thin;
    width: 300px;
    display: flex;
}
.ifm_daycheck_right{
    padding: 20px;
    width: 380px;
    background-color: #f5f5f5;
    height: 80%;
    margin: auto auto;
}
.ifm_daycheck_right_header{
    font-size: 16px;
}
.ifm_daycheck_right_check{
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}
.ifm_roompick{
    display: flex;
    gap: 10px;
    padding: 20px;
}
.ifm_roompick_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ifm_roompick_right{
    width: 50%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    color: rgb(25, 117, 49);
    font-size: 18px;

}
.ifm_roompick_name{
    font-size: 18px;
}
.ifm_roompick_header{
    font-size: 26px;
    color:rgb(25, 117, 49) ;
}
.peoplepicker{
    display: flex;
    gap: 20px;
}
.ifm_room_describe{
    color: #8c8c8c;
    margin-bottom: 20px;
}
.changeroom,.changeadult,.changechild{
    display: flex;
    font-size: 20px;
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    align-items: center;
    justify-content: space-around;
    position: relative;
    caret-color: transparent;
}
.text{
    position: absolute;
    font-size: 11px;
    top:-18px;
    left: 0;
}
.ifm_client_input{
    width: 250px;
    height: 45px;
    border: 2px;
    border-style: solid;
    border-color: #8c8c8c;
    display: flex;
    gap: 20px;
    font-size: 22px;
    align-items: center;
    border-radius: 5px;

}
.ifm_client i{
    color: rgb(25, 117, 49);
    margin-left: 15px;
}
.ifm_client input{
    
    width: 250px;
    height: 25px;
    border: 1px;
    border-style: solid;
    border-color: #8c8c8c;
    display: flex;
    gap: 20px;
    border: none;
    caret-color: auto;
    outline: none;
}
.bill{
    margin-top: 20px;
    width: 20vw;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 450px;
    background-color: white;
    display: flex;
    font-weight: 600;
    margin-bottom: 150px;
    flex-direction: column;
    padding: 15px;
}
.end{
    display: flex;
    gap:50px;
}
.policy{
    margin-top: 50px;
    width: 45vw;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: #00554C;   
    padding: 15px;  
}
.policy_header{
    font-size: 24px;
}
.policy_item{
    width: 60%;
    margin-top: 10px;
    font-weight: 100;
}
.policy_item_header{
    margin-top: 20px;
    font-size: 16px;
}
.policy_item_content{
    font-weight: bold;
    font-family:sans-serif;
    margin-top: 5px;
    font-size: 14px;
    color: #2b2a2a;
}
.bill_room{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
   
}
.bill_header{
    font-size: 22px;
    color: #00554C;
}
.bill_room_textheader{
    margin-top: 10px;
    color: #2b2a2a;
}
.bill_room_note{
    font-size: 14px;
    color: #8c8c8c;
    margin-top: 10px;
}
.bill_room_money{
    margin-top: 10px;
    color: #00554C;
}
.bill .line{
    width: 100%;
    height: 1px;
    background-color: #686868;
    margin: 0 auto;
    margin-top: 20px;
}
.bill_money_item{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #00554C;
}
.bill_money_item{
    margin-top: 10px;
}
.bill_result{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 15px;
    color: #00554C;
}
.bill_money_item_text{
    color: #2b2a2a;
}
.bill_result_text{
    color: #2b2a2a;
}
.buttonsubmit{
    width: 100px;
    background-color: #00554C;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color:white;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
}