
.container_room{
    width: 65vw;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    background-color: white;
    z-index: 1;
}
.container_slider{
    width: 65vw;
    position: relative;
    overflow: hidden;
}
.slider{
    display: flex;
    width: 100%;
    transform: translateX(0);
    transition-duration:1.5s ;
}

.slider_img{
    width: 100%;
}
.slider_img img{
    width: 65vw;
    height: 600px;
}
.slider_button{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    backdrop-filter: blur(20px);
    border: 2px solid #fff !important;
    position: absolute;;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    cursor: pointer;
}
#left{
 top: 38%;
 left: 25px;
}
#right{
    top: 38%;
    right: 25px;
}
.content{
    margin-top: 20px;
    font-weight: 600;
    font-size: 28px;
    color: #00554C;
    padding-left: 20px;
}
.content_star{
    color: #c0a46b;
    font-size: 16px;
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.content_address{
    padding-bottom: 60px;
    font-size: 16px;
    color: rgb(31, 31, 31);
}
.content_address i{
    color: #00554C;
}
.listroomvip, .listroomdeluxe,.listroomstandard{
    margin-top: 20px;
    width: 65vw;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 500px;
    background-color: white;
    display: flex;
    font-weight: 600;
}
.listroom_left{
    padding: 15px
}
.listroom_left_header{
    font-size: 24px;
    color: #00554C;
    margin-bottom: 10px;
}
.listroom_left_img img{
    width: 270px;
}
.listroom_left_ifm{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.listroom_left_ifm_item{
    color: #00554C;
    font-size: 16px;
}
.listroom_right{
    width: 100%;
    padding: 15PX;
    font-weight: 700;
}.list_right_view_ifm_header{
    font-size: 22px;
}
.listroom_right_view{
    width: 100%;
    padding: 15PX;
    height: 250PX;
    display: flex;
    justify-content: space-between;
}
.list_right_view_ifm{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.list_right_view_ifm_text{
    font-weight: 500;
    font-size: 14px;
}
.list_right_view_ifm_text i{
    color: #00554C;
    margin-right: 5px;
    
}
#khh{
    font-size: 20px;
}
.line{
    margin-left: 15px;
    width: 90%;
    height: 1px;
    background-color: #686868;
}
.listroom_right_view_pick_money{
    font-size: 22px;
    color: #c0a46b;
}
.listroom_right_view_pick_countroom{
    font-size: 16px;
    margin-top: 15px;
}
.listroom_right_view_pick_button{
    width: 120px;
    margin-top: 30px;
    text-align: center;
    padding: 10px 15px;
    background-color: #00554C;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.find{
    display: flex;
    flex-direction: column;
    animation: animatefind 1s;
}
@keyframes animatefind {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
.policy{
    margin-top: 50px;
    width: 65vw;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: #00554C;   
    padding: 15px;  
}
.policy_header{
    font-size: 24px;
}
.policy_item{
    width: 60%;
    margin-top: 10px;
    font-weight: 100;
}
.policy_item_header{
    margin-top: 20px;
    font-size: 16px;
}
.policy_item_content{
    font-weight: bold;
    font-family:sans-serif;
    margin-top: 5px;
    font-size: 14px;
    color: #2b2a2a;
}
