<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../v1/styles/book.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
           <div class="header">
            <div class="logo">
                <img src="https://static03-cdn.oneinventory.com/images/2022/07/dbe30a0bf14b4a67b38f09991e25aa23.png" alt="">
            </div>
        </div>
    <div class="information">
        <div id="datepicker" class="time">
            <div class="countnight">Ngay <span>1 Dêm</span></div>
            <div class="time_date">
                <div  class="time_date_checkin">
                    <div class="day">19</div>
                    <div class="monthyear">Thang 4 <br> 2024
                    </div>
                </div>
                <div class="time_date_checkout"> <div class="day">19</div>
                <div class="monthyear">Thang 4 <br> 2024</div>
            </div>
        </div>
        </div>
        <div class="people">
            <div class="peoplepicker">
                <div class="changeroom">
                    <div class="minus">-</div>
                    <div class="count">1</div>
                    <div class="plus">+</div>
                </div>
                <div class="changeadult"> 
                    <div class="minus">-</div>
                    <div class="count">2</div>
                    <div class="plus">+</div>
                </div>
                <div class="changechild">
                    <div class="exitbutton">x</div>
                    <div class="minus">-</div>
                    <div class="count">0</div>
                    <div class="plus">+</div>
                </div>
            </div>
            <div class="buttonsubmit">Xác Nhận</div>
            <div class="room">
                <div class="room_item_text">Phòng</div>
                <div class="room_item">1</div>
            </div>
            <div class="adult">
                <div class="adult_item_text">NG.Lớn</div>
                <div class="adult_item">2</div>
            </div>
            <div class="child">
                <div class="child_item_text">TRẺ EM</div>
                <div class="child_item">0</div>
            </div>
            <div class="arrow"><i class="fa-solid fa-arrow-down"></i></div>
        
            <div class="more"></div>
        </div>
        <form method="post" action="/api/v1/book/search">
        <button class="buttonfind">Tìm Kiếm</button>
        </form>
    </div>
        <div class="date">
            <div class="date_left">
                <div class="date_header">Tháng 5. 2024</div>
                <div class="date_day">
                    
                    <div class="date_day_item">T2</div>
                    <div class="date_day_item">T3</div>
                    <div class="date_day_item">T4</div>
                    <div class="date_day_item">T5</div>
                    <div class="date_day_item">T6</div>
                    <div class="date_day_item">T7</div>
                    <div class="date_day_item">CN</div>
                </div>
                <div class="numbers">
                   
                </div>
            </div>
            <div class="date_right">
                <div class="date_header">Tháng 6. 2024</div>
                
                <div class="date_day">
                    
                    <div class="date_day_item">T2</div>
                    <div class="date_day_item">T3</div>
                    <div class="date_day_item">T4</div>
                    <div class="date_day_item">T5</div>
                    <div class="date_day_item">T6</div>
                    <div class="date_day_item">T7</div>
                    <div class="date_day_item">CN</div>
                </div>
                <div class="numbers">
                </div>
            </div>

        </div>
</div>      
    </div>  
    <script src="../v1/Javascript/book.js"></script>
 
  
</body>
</html>