<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../v1/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div class="container">
        
        <div class="header">
            <div class="header_items_left">
                <div class="header_item">Phòng Nghỉ</div>
                <div class="header_item">Ẩm Thực</div>
            </div>
            <div class="biglogo">
                <img src="https://peridotgrandhotel.com/wp-content/uploads/2022/08/logo-02-1.png" alt="">
            </div>
            <div class="header_items_right">
                <div id="login" class="header_item "> Đăng Nhập</div>
                <form action="/api/v1/book" method="GET">
                    <button type="submit" class="header_item box ">Book Now</button>
                </form>
            </div>
        </div>
        <div class="body1">
        </div>
        <div class="body2" >
            <div class="body2_item1"> 
                <div class="textlogo">
                  <img src="https://peridotgrandhotel.com/wp-content/uploads/2022/08/welcome-image.png" alt="">
                </div>
            </div> 
            <div class="listimgintro">
                <div class="listimg">
                    <img src="https://peridotgrandhotel.com/wp-content/uploads/2022/07/IMG_1681-2000.jpg" alt="">
                    <img src="https://peridotgrandhotel.com/wp-content/uploads/2022/07/IMG_1664-2000.jpg" alt="">
                    <img src="https://peridotgrandhotel.com/wp-content/uploads/2022/07/IMG_1694-2000.jpg" alt="">
                    <img src="https://peridotgrandhotel.com/wp-content/uploads/2022/08/Infinity-Pool-4-2000.jpg" alt="">
                  
                </div>
                <div class="slidebar">
                    <div class="slidebaritem chose"></div>
                    <div class="slidebaritem"></div>
                    <div class="slidebaritem"></div>
                    <div class="slidebaritem"></div>
                </div>
               
            </div>
            <div class="body2_item2"></div>
        </div>
        <div class="body3">
            <div class="body3_text1">- Chào mừng bạn đến với -</div>
            <div class="body3_text2">PBL3 Grand Luxury Boutique Hotel</div>
            <div class="body3_text" style="margin-top: 20px;">Được ví như viên ngọc ẩn giữa lòng phố xá náo nhiệt - khách san Peridot Grand Luxury Hotel với không</div>
            <div class="body3_text">gian yên tĩnh biệt lập cùng dịch vụ khách hàng tuyệt vời vượt trên cả sự hoàn hảo, đã sẵn sàng để dẫn lối</div>
            <div class="body3_text">bạn vào một hành trình đầy những bất ngờ và xúc cảm đặc biệt.</div>
            <div class="body3_text" style="margin-top: 20px;">Không chạy theo bất kì xu hướng đang thịnh hành nào, Peridot Grand giữ một vị thế riêng khi kết hợp</div>
            <div class="body3_text">hoàn hảo những gì đặc sắc và thanh lịch nhất của kiến trúc đương đại. Phong cách Pháp lãng mạn hòa</div>
            <div class="body3_text">cùng nét cổ điển của kiến trúc Indochine cùng nhấn nhá những họa tiết Á Đông sang trọng quý phái. Như</div>
            <div class="body3_text">một tác phẩm nghệ thuật sắp đặt ấn tượng với từng góc nhỏ đều được chăm chút vô cùng tinh tế và</div>
            <div class="body3_text">đẳng cấp, không gian này chắc chắn sẽ khơi nguồn cảm hứng cho bất kì ai yêu nghệ thuật và cái đẹp.</div>
            <div class="body3_text" style="margin-top: 20px">Bằng những tiện ích, tiện nghi đẳng cấp vượt trội, bằng sự chu đáo và chuyên nghiệp của con người nơi</div>
            <div class="body3_text">đây, chúng tôi hi vọng mọi trải nghiệm của bạn taị Peridot Grand - khách sạn luxury boutique đẹp nhất</div>
            <div class="body3_text">phố cổ sẽ là đáng giá theo một cách hoàn hảo nhất.</div>
        </div>
        <div class="body4">
            <div class="body4_item1">
                <div class="body_4_item1_text">NGHỈ DƯỠNG SANG TRỌNG & TINH TẾ</div>
            </div>
            <div class="body4_img">
                <div class="body4_img_element">
                    <img src="https://peridotgrandhotel.com/wp-content/uploads/2022/07/Living-Room-1-2000.jpg" alt="">
                </div>
                <div class="body4_img_text">
                    <div class="body4_img_text_item1">MỘT TRẢI NGHIỆM ĐỘC ĐÁO TẠI BÁCH KHOA ĐÀ NẴNG</div>
                    <div class="body4_img_text_item2">PHÒNG GRAND SUITE</div>
                    <div class="line"></div>
                    <div class="body4_img_text_item3">Grand Suite gây ấn tượng với diện tích rộng và tiện nghi đầy đủ đáp ứng gần như mọi nhu cầu thiết yếu...</div>
                    
                </div>
            </div>
        </div>
        <div class="body5">
            <div class="body5_item1">
            </div>
            <div class="body5_item2">
                <div class="body5_item2_text1">Sức khỏe & Làm đẹp</div>
                <div class="body5_item2_text2">Vốn là một ốc đảo nuôi dưỡng cơ thể và tâm hồn, Peridot Grand cam kết chăm sóc sức khỏe và làm đẹp cho bạn trong suốt thời gian lưu trú tại khách sạn. Phòng tập thể hình có đầy đủ trang thiết bị hiện đại, dịch vụ xông hơi & xông khô, kết hợp cùng khu vực spa biệt lập, tạo nên một không gian chăm sóc sức khỏe và làm đẹp toàn diện.</div>
                <div class="body5_item2_text2">Dịch vụ của chúng tôi bao gồm những liệu pháp truyền thống được tùy chỉnh linh hoạt theo yêu cầu của khách hàng cùng những bài xoa bóp đặc trưng được lấy cảm hứng từ những phương pháp chăm sóc sức khỏe xa xưa kết hợp những yếu tố hữu hiệu nhất của Việt Nam và các nước phương Tây.</div>
                <div class="body5_item2_text2">Chúng tôi cam kết mang đến cho du khách những trải nghiệm phong phú và khác biệt, với cảm giác tươi trẻ, khỏe khoắn sau chuyến nghỉ dưỡng tại Peridot Grand.</div>
                <div class="boxlist">
                    <div class="box"><i class="fa-solid fa-spa"></i> 
                    <div class="box_text">Peridot Spa </div>
                    </div>
                    <div class="box"><i class="fa-solid fa-dumbbell"></i>
                        <div class="box_text">Gym</div></div>
                    <div class="box"><i class="fa-solid fa-water-ladder"></i>
                        <div class="box_text">Pool</div></div>
                  
                </div>
            </div>
        </div>
        <div class="end">
            <div class="end_column">
                <div class="end_column_item">
                    <div class="end_column_item_img">
                        <img src="https://peridotgrandhotel.com/wp-content/uploads/2022/07/favicon.png" alt="">
                    </div>
                    <div  class="end_column_item_text">PBL3 GRAND LUXURY <br> BOUTIQUE HOTEL</br></div>
                </div>
                <div class="end_column_item">
                    <div  class="end_column_item_text">
                        <i class="fa-solid fa-location-dot"></i></div>
                    <div  class="end_column_item_text">
                        No. 33 Duong Thanh Str., Hoan Kiem Dist.,<br> Hanoi, Vietnam</div>
                </div>
                <div class="end_column_item">
                    <div  class="end_column_item_text">
                        <i class="fa-solid fa-phone-volume"></i></div>
                    <div  class="end_column_item_text">
                        Tel. 84 – 24 – 3828 0099</div>
                </div>
                <div class="end_column_item">
                    <div  class="end_column_item_text">
                        <i class="fa-solid fa-phone-volume"></i></div>
                    <div  class="end_column_item_text">
                        hotline 84 – 24 – 3828 0099</div>
                </div>
                <div class="end_column_item">
                    <div  class="end_column_item_text">
                        <i class="fa-solid fa-envelope"></i></i></div>
                    <div  class="end_column_item_text">
                        Email: nguyenduyhai@pbl3hotels.com</div>
                </div>
                <div class="end_column_logo">
                    <div  class="end_column_item_text">
                        <i class="fa-brands fa-facebook"></i></div>
                    <div  class="end_column_item_text">
                        <i class="fa-brands fa-instagram"></i></div>
                    <div  class="end_column_item_text">
                        <i class="fa-brands fa-youtube"></i></div>
                    </div>
                </div>
            <div class="end_column">
                <div class="end_column_header">THÔNG TIN</div>
                <div class="end_column_text">Nhà hàng 1968</div>
                <div class="end_column_text">Nhà hàng Olivine</div>
                <div class="end_column_text">Ignite Sky Bar</div>
                <div class="end_column_text">Sảnh khách sạn</div>
                <div class="end_column_text">Peridot Spa</div>
                <div class="end_column_text">Hội nghị & Sự kiện</div>
                <div class="end_column_text">Vận chuyển</div>
                <div class="end_column_text">Dịch vụ & Cơ sở vật chất</div>
            </div>
            <div class="end_column">
                <div class="end_column_header">VỀ CHÚNG TÔI</div>
                <div class="end_column_text">Chính Sách</div>
                <div class="end_column_text">Tin tức & Sự kiện</div>
                <div class="end_column_text">Liên hệ</div>
            </div>
            <div class="end_column">
                <div class="end_column_header">CÁC KHÁCH SẠN TRONG HỆ THỐNG</div>
                <div class="end_column_text">HAI Grand Luxury Boutique Hotel</div>
                <div class="end_column_text">VU Gallery Classic Boutique Hotel</div>
                <div class="end_column_text">Tue Central Hotel (sắp ra mắt)</div>

            </div>
            </div>
        <div class="superend"></div>
    </div>
    <script src="../v1/Javascript/main.js"></script>
</body>
</html>
