<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="ifmbook.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  
    <title>Document</title>
</head>
<body>
    <div class="container">
       
            <div class="header">
                <div class="logo">
                    <img src="https://static03-cdn.oneinventory.com/images/2022/07/dbe30a0bf14b4a67b38f09991e25aa23.png" alt="">
                </div>
            </div>
            <div class="main">
                <div class="main_header">
                    <div class="main_header_item">
                        <div class="main_header_item_number"><i class="fa-solid fa-check"></i></div>
                        <div class="main_header_item_text">Tìm kiếm phòng</div>
                    </div>
                    <div class="main_header_line"></div>
                    <div class="main_header_item">
                        <div class="main_header_item_number">2</div>
                        <div class="main_header_item_text">Đặt phòng</div>
                    </div>
                    <div class="main_header_line" id="done"></div>
                    <div class="main_header_item" id="done">
                        <div class="main_header_item_number" >3</div>
                        <div class="main_header_item_text">Hoàn thành</div>
                    </div>
                </div>
                <div class="ifm">
                    <div class="ifm_day">
                        <div class="ifm_daycheck">
                            <div class="ifm_daycheck_left">
                                <div class="ifm_daycheck_left_header">
                                    <i class="fa-solid fa-hotel"></i>
                                    <div class="ifm_daycheck_left_header_text" >
                                    PBL3 Luxury Boutique <br> Hotel</div> </div>
                                <div class="ifm_star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="ifm_location">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <div class="ifm_location_text">33 Đường Thành, Cửa Đông, Hoàn Kiếm, Hà Nội, Quận Hoàn Kiếm, Hà Nội, Việt Nam</div>
                                </div>
                            </div>
                            <div class="ifm_daycheck_right">
                                <div class="ifm_daycheck_right_header">1 Phòng, 1 Đêm, 2 Người lớn, 0 Trẻ em, 0 Em bé</div>
                                <div class="ifm_daycheck_right_check">
                                    <div class="check">
                                    <i class="fa-solid fa-calendar"></i>
                                    Nhận phòng
                                    </div>
                                    <div class="daycheckin">05/05/2024</div>
                                </div>
                                <div class="ifm_daycheck_right_check">
                                    <div class="check">
                                        <i class="fa-solid fa-calendar"></i>
                                        Nhận phòng
                                        </div>
                                    <div class="daycheckin">05/05/2024</div>
                                </div>
                            </div>
                        </div>
                        <div class="ifm_roompick">
                            <div class="ifm_roompick_left">
                            <div class="ifm_roompick_header">
                                Phòng đã chọn
                            </div>
                            <div class="ifm_roompick_name">Phòng: VIP ROOM</div>
                            <div class="ifm_room_describe">View Beach, Advance Purchase with Breakfast</div>
                            <div class="peoplepicker">
                                <div class="changeadult"> 
                                    <div class="text">Người Lớn</div>
                                    <div class="minus">-</div>
                                    <div class="count">2</div>
                                    <div class="plus">+</div>
                                </div>
                                <div class="changechild">
                                    <div class="text">Trẻ Em</div>
                                    <div class="minus">-</div>
                                    <div class="count">0</div>
                                    <div class="plus">+</div>
                                </div>
                            </div>
                        </div>
                        <div class="ifm_roompick_right">
                            <div class="ifm_roompick_right_item">
                                Breakfast
                                <input type="checkbox">
                            </div>
                            <div class="ifm_roompick_right_item">
                                Matxa
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="ifm_client">
                        <div class="ifm_client_input">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" placeholder="Tên khách hàng">
                        </div>
                        <div class="ifm_client_input">
                            <i class="fa-solid fa-phone"></i>
                            <input type="text" placeholder="Số điện thoại">
                        </div>
                        <div class="ifm_client_input">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="ifm_client_input">
                            <i class="fa-solid fa-passport"></i>
                            <input type="text" placeholder="CCCD">
                        </div>
                        <div class="ifm_client_input">
                            <i class="fa-solid fa-calendar-days"></i>
                            <input type="Date"  placeholder="Ngày sinh">
                        </div>
                    </div>
                </div>
                <div class="end">
                    <div class="policy">
                        <div class="policy_header">Chính sách khách sạn</div>
                        <div class="policy_item">
                            <div class="policy_item_header">
                                <i class="fa-solid fa-door-open"></i>
                                Thời gian nhận phòng
                            </div>
                            <div class="policy_item_content">Từ 2:00 CH</div>
                        </div>
                        <div class="policy_item">
                            <div class="policy_item_header">
                                <i class="fa-solid fa-door-open"></i>
                                Thời gian trả phòng
                            </div>
                            <div class="policy_item_content">Cho đến 12:00 CH</div>
                        </div>
                        <div class="policy_item">
                            <div class="policy_item_header">
                                <i class="fa-solid fa-person"></i>
                                Chính sách trẻ em
                            </div>
                            <div class="policy_item_content">Trẻ em dưới 6 tuổi ngủ chung với người lớn sẽ được miễn phí (miễn phí tối đa 1 trẻ dưới 6 tuổi)
                                Trẻ em từ 6 - dưới 12 tuổi ngủ chung với người lớn sẽ tính phí phục vụ và ăn sáng là VND 290,000/trẻ/đêm
                                Giường phụ áp dụng VND 1,200,000/người/đêm</div>
                        </div>
                        <div class="policy_item">
                            <div class="policy_item_header">
                                <i class="fa-solid fa-wallet"></i>
                                Chính sách khác
                            </div>
                            <div class="policy_item_content">
                                1. Giá NET đã bao gồm 5% phí phục vụ và 8% VAT <br>
            2. Giá phòng đã bao gồm bữa sáng hàng ngày cho hai người <br>
            3. Giờ nhận phòng sau 14h00, trả phòng trước 12h00 trưa. Phụ phí 50% giá phòng 1 đêm sẽ ...
                            </div>
                        </div>
                    </div>
                    <div class="bill">
                        <div class="bill_header">
                            Thông tin thanh toán
                        </div>
                        <div class="bill_room">
                            <div class="bill_room_text" >
                                <div class="bill_room_textheader">Phòng 1 : VIP <br> ROOM</div>
                                <div class="bill_room_note">VIP ROOM WITH  VIEW <br> BEACH</div>
                            </div>
                            <div class="bill_room_money">10.300.000 ₫</div>
                        </div>
                        <div class="line"></div>
                        <div class="bill_money">
                            <div class="bill_money_item">
                                <div class="bill_money_item_text">Tiền phòng</div>
                                <div class="bill_money_item_money">
                                    10.300.000 ₫</div>
                            </div>
                            <div class="bill_money_item">
                                <div class="bill_money_item_text">Phụ phí</div>
                                <div class="bill_money_item_money">
                                    0 ₫</div>
                            </div>
                            <div class="bill_money_item">
                                <div class="bill_money_item_text">Dịch vụ</div>
                                <div class="bill_money_item_money">
                                  0 ₫</div>
                            </div>
                            <div class="bill_money_item">
                                <div class="bill_money_item_text">Khuyến mãi</div>
                                <div class="bill_money_item_money">
                                   0 ₫</div>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="bill_result">
                            <div class="bill_result_text">Tổng thanh toán</div>
                            <div class="bill_result_money">
                                10.300.000 ₫</div>
                        </div>
                        <div class="buttonsubmit">Đặt phòng</div>
                    </div>
                </div>
               
            </div>
    </div>
    <script src="ifmbook.js"></script>
</body>
</html>