<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            margin-top: 100px;
            margin-left: 200px;
            font-size: 20px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <form action="/profile" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />
        <button class="submit-btn" type='submit'>Upload</button>
    </form>
   
</body>
</html>