<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            margin-top: 100px;
            margin-left: 200px;
            font-size: 20px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <form action="/api/v1/upLoad/File" enctype="multipart/form-data" method="POST"> 
        <input type="file" name="myFile" />
        <input type="submit" value="Upload a file"/>
    </form>

    <form action="/api/v1/upload/files"  enctype="multipart/form-data" method="POST">
        <input type="file" name="myFiles" >
        <input type="file" name="myFiles" >
        <input type="submit" value="Upload your files"/>
    </form>

    <form action="/upload/photo" enctype="multipart/form-data" method="POST"> 
        <input type="file" name="myImage" accept="image/*" />
        <input type="submit" value="Upload Photo"/>
    </form>
</body>
</html>